*.*~
.htaccess
*.orig
*.save

#Ignore the content of captcha folder
captcha/*.jpg

#Ignore the application/logs folder
application/logs

#Ignore some files in application/config
application/config/config.php
application/config/database.php

#Ignore the application/logs folder
assets/img/upload