/***********************************************
PUSKODAL
URL: ?
AUTHOR: Nabil Amer Thabit (nbilz//lab//dsign | @nbilz)
EMAIL: nbilz@live.com
DATE: April 23, 2013
REVISION: 1
NAME: login.puskodal.css
TYPE: Cascading Style Sheet
DESCRIPTION: CMS Combat Management System
************************************************/

body{
    background: #FFF;
    font-family: Verdana, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
}

body#splash-screen{
    box-shadow: inset 0 0 600px #AAA;
    width: 100%;
    height: 100%;
}

#logo-splash{
    padding: 270px 0;
    margin: 0 auto;
    width: 396px;
}

.lining{
    background: #efb000;
    height: 100%;
    opacity: 1;
    position: absolute;;
}

.lining#line-1{
    left: 0;
    width: 10px;
}

.lining#line-2{
    left: 0;
    width: 15px;
}

.lining#line-3{
    left: 0;
    width: 20px;
}

.lining#line-4{
    right: 0;
    width: 10px;
}

.lining#line-5{
    right: 0;
    width: 15px;
}

.lining#line-6{
    right: 0;
    width: 20px;
}

#logo{
    margin: 50px auto 10px auto;
    width: 226px;
}

#login{
    border: 5px solid #EEE;
    width: 354px;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 0 #333;
}

#login #title{
    padding: 10px 20px;
    background: #F6F6F6;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 1px 1px #FFF;
    border: 1px solid #DDD;
}

#login ul{
    border: 1px solid #DDD;
    border-top: none;
    padding: 20px;
    float: left;
}

#login ul li{
    margin: 10px 0 10px 0;
}

#login ul li:first-child{
    margin: 0 0 10px 0;
}

#login ul li:last-child{
    margin: 10px 0 0 0;
}

#login ul li label{
    color: #666;
    font-size: 11px;
}

#login ul li input.put-login{
    border: 1px solid #CCC;
    height: 22px;
    margin-top: 4px;
    width: 300px;
    padding: 5px;
    font-size: 12px;
    box-shadow: inset 2px 2px 3px #EEE;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

#login ul li input.put-login:hover{
    border: 1px solid #AAA;
}

#login ul li input.put-login:focus{
    outline: none;
    border: 1px solid #888;
}

#login ul li #button-submit{
    background: #EEE;
    float: right;
    border: 1px solid #CCC;
    font-size: 12px;
    color: #666;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 0 -1px 1px #FFF;
    height: 30px;
    box-shadow: inset 0 -10px 10px #E3E3E3;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

#login ul li #button-submit:hover{
    border: 1px solid #888;
    color: #333;
    text-shadow: 0 1px 1px #FFF;
    box-shadow: inset 0 10px 10px #E3E3E3;
}

p#footer{
    margin: 20px 0;
    font-size: 11px;
    color: #666;
    text-align: center;
}